<div>
    <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
    <h3>Games <small>Add/Remove Games</small></h3>
    <div class="jumbotron box">
        <h4>Picture</h4>



        <div class="container" >
            <h6>Show in slider</h6>
            <input class="k-content" type="checkbox" name="vehicle" value="Bike">
            <br>
            <br>
            <div>
                <div >
                    <h6> Select Cover Image</h6>  <br>
                    <input name="files"
                           kendo-upload
                           type="file" />
                    <p>Width=390px
                        <br>
                        Height=294px</p>
                </div>
            </div>



        </div>


    </div>

    <div class="jumbotron box">

        <h4>Title and details</h4>



        <div class="container" >
            <h6>Title</h6>
            <input k-content style="width: 100%">
            <br>
            <h6>Studio</h6>
            <input k-content style="width: 100%">
            <br>

            <h6>Series</h6>
            <input k-content style="width: 100%">
            <br>
            <h6>OS</h6>
            <input k-content style="width: 100%">
            <br>


            <h6>Release Date</h6>
            <input kendo-date-picker
                   style="width: 100%;"
                   ng-model="dateString"
            />


            <h6>Description</h6>
            <textarea kendo-editor k-ng-model="html"></textarea><br>

            <h6>Languages</h6>
            <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds" style="width: 100%;"></select>

            <h6>Genre</h6>
            <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds" style="width: 100%;"></select>
            <br>
            <h6>Category</h6>
            <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds" style="width: 100%;"></select>

            <h6>Tags</h6>
            <select kendo-multi-select k-options="selectOptions" k-ng-model="selectedIds" style="width: 100%;"></select>
            <br>



        </div>


    </div>


    <div class="jumbotron box">

        <h4>Operational Requirement</h4>



        <div class="container" >
            <h6>File/Size</h6>
            <input k-content style="width: 100%">
            <br>

            <h6>CPU</h6>
            <input k-content style="width: 100%">
            <br>


            <h6>Memory</h6>
            <input k-content style="width: 100%">
            <br>


            <h6>DirectX</h6>
            <input k-content style="width: 100%">
            <br>

            <h6>Trailer Link (Embedded)</h6>
            <input k-content style="width: 100%">
            <br>


        </div>


    </div>
    <div class="jumbotron box">

        <h4>Screenshots</h4>



        <div class="container" >
            <h6>Screenshots</h6>
            <input name="files"
                   kendo-upload
                   type="file" />


        </div>


    </div>
    <div class="jumbotron box">

        <h4>External Links</h4>



        <div class="container" >

            <h6>Steam Link</h6>
            <input k-content style="width: 100%">
            <br>

            <h6>Amazon</h6>
            <input k-content style="width: 100%">
            <br>

            <h6>Gamestop</h6>
            <input k-content style="width: 100%">
            <br>



        </div>



    </div>

    <div class="jumbotron box">
    <div class="container">
        <button class="k-primary">Publish</button>
    </div>
    </div>

</div>

